.items-select-box{
  /* width: 814px !important; */
/* height: 136px; */
flex-shrink: 0;
border: 1px solid var(--components-bradcrumb-fill, #E9ECEF);
background: var(--global-09-white, #FFF);
align-items: center;
}
.image-box{
  border-radius: 4px;
  border: 1px solid var(--components-card-border, #DFDFDF);
  background: var(--global-09-white, #FFF);
  display: flex;
  width: 112px !important;
  height: 112px;
  padding: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}