.main-container-np{
  display: flex;
  width: 1500px;
  min-height: 1500px;
  justify-content: center;
  padding: 100px 379px 210px 379px;
  background: var(--global-07-light, #F8F9FA);
}
.group-np{
  width: 608px;
  /* height: 350px; */
  flex-shrink: 0;
}
.rectangle-np{
  width: 608px;
  height: 300px;
  flex-shrink: 0;
  border: 1px solid var(--components-bradcrumb-fill, #E9ECEF);
  background: var(--global-09-white, #FFF);
  padding: 19px 32px 265px 32px;
}