.main-container-login{
    display: flex;
width: 1366px;
padding: 100px 379px 210px 379px;
justify-content: center;
align-items: center; 
background: var(--global-07-light, #F8F9FA);
}
.group{
    width: 608px;
height: 458px;
flex-shrink: 0;
}
.rectangle{
    width: 608px;
height: 375px;
flex-shrink: 0;
border: 1px solid var(--components-bradcrumb-fill, #E9ECEF);
background: var(--global-09-white, #FFF);
padding: 19px 32px 265px 32px;
}

.check-box{
    margin-bottom: 32px;
}
.form-base{
    display: flex;
align-items: center;
justify-content: center;
gap: 4px;
}

.form-base-2{
    display: inline-flex;
align-items: center;
gap: 4px;
justify-content: center ;
}